*{
	font-family: century gothic, arial, sans-serif;

}

.forHeading{
	background-color: #231E1D;
 	overflow: hidden

}

.forHeading a{
		float: left;
 		display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 16px 30px;
  	border-top: 20px;
  	font-size: 20px;
}

div.forDiv1{
	background-color: #231E1D;
	text-align: center;
	margin-top: 0%;
	padding: 30px;
	background-image: url("cafebg.png");
	background-size: 1600px 900px;

}

body{
	padding: 0;
	margin: 0;
}

th{
	font-size: 20px;
	color: ghostwhite;
	text-shadow: 2px 2px 4px #000000;

}

td{
	padding: 2px 8px;
}

td.div2{
	padding: 8px;
	color: ghostwhite;
	border: 2px solid white;
	text-align: center;
}

h1{
	color: ghostwhite;
	font-family: cursive, arial, serif;
	text-shadow: 2px 2px 4px #000000;
}


h3{
	color: ghostwhite;
	text-shadow: 2px 2px 4px #000000;

}

img{
	border: 5px solid white;
}

img:hover{
	border-color: #777;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  color: whitesmoke;
}

.forDiv2{
	background-color: #231E1D;		
	text-align: center;
	margin-top: 0%;
	padding: 20px;
}

.forHeading input[type=text] {
  float: left;
  padding: 20px;
  padding-top: 10px;
  border: none;
  margin-top: 10px;
  margin-right: 16px;
  font-size: 17px;
  width: 50%;
}

marquee{
	background-color: #231E1D;
}